# =========================
# macOS
# =========================
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes

# =========================
# Node / React
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

build/
dist/
.next/
out/
.cache/

.env
.env.local
.env.development
.env.production

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

.venv/
venv/
env/
ENV/

pip-wheel-metadata/
*.egg-info/
.eggs/
.pytest_cache/

# =========================
# Lambda build artifacts
# =========================
lambda_package/
package/
.zip
*.zip

# =========================
# IDE
# =========================
.vscode/
.idea/
*.swp

# =========================
# Logs
# =========================
*.log
